



:root {

    --nav : #000;
    --btn : #00AA47;
    --color : #fff;
    --border : #E0E0E0;

     
}

.landing__navbar {

  
       padding: 0.2rem 5rem 0.2rem 5rem;
       border-bottom: 1px solid var(--border);
      
}

.landing__navbar ul {

    display : flex;
    align-items: center;
    justify-content: space-around;

}

.landing__navbar ul li {
       list-style: none;

}


.landing__navbar__image {

    background-image: url('../../../public/images/notes.svg');
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;



}

/* btn */

.landing__navbar__btn {
       outline: none;
       border: none;
       background-color: var(--btn);
       color: var(--color);
       border-radius: 4px;
       cursor: pointer;
       padding: 0.5rem;
}

.heading {
       color: var(--btn);
}

.login  {
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}