


:root {
       --editor : #1F1F1F;
       --color : #fff;
}

.editor__container {

       height: 100vh;

}



.editor > input {
         outline: none;
         border: none;
         width: 100%;
         padding: 0.2rem;

}

.editor {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    padding: 1px;
    width: 10px;
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right:8px;
}

.ql-formats > button{
     margin: 0.2rem;
     padding: 0.2rem;


}

.ql-lists {

     margin:0.3rem;
}


