

:root {
    --section : #4B5563;
    --input : #374151;
    --color : #fff;
    --btn : #A78BFA;
    --disbale : #C4B5FD;
    --completed : #6B7280;
    --hover : #34D399;

}
.task {

    width: 90vw;
      
}


.task__container {

       padding: 0.7rem;
       /* width: 80vw; */
}

.task__section {
      
       background-color: var(--section);
       border-radius: 4px;
       padding: 0.5rem;

       
}
/* add tasks */

.addtask__form {
    display: flex;
    align-items: center;
}

.addtask__form input{

     border: none;
     outline: none;
     padding: 0.3rem;
     border-radius: 4px;
     background-color: var(--input);
     color: var(--color);

    

      
}

.todo__btn {

      border: none;
      outline: none;
      background-color: var(--btn);
      color: var(--color);
      border-radius: 3px;
      padding: 0.2rem;
      margin-left: 1.2rem;
      cursor: pointer;

     
}

/* tasks */
.tasks__perform {
        background-color: var(--completed);
        margin-top: 1rem;
        height: 180px;
        padding: 0.3rem;
        border-radius: 4px;
        overflow-x: hidden;
        overflow-y: scroll;
    
}

.all__todos {
    display: flex;
    align-items: center;
    position: relative;
    border: 1.5px solid var(--hover);
    padding: 0.1rem;
    margin-bottom: 0.3rem;
    border-radius: 2px;

}

.tasks__perform > input {
     outline: none;
     border: none;
}

.delete__todo {
    position: absolute;
    right: 1%;
    color: var(--color);
    cursor: pointer;
    
}

.delete__todo > i {
      font-size: 0.8rem;
}