

:root {
      --sidebar : #2B2B2B;
}




.sidebar__container {
    
      display: flex;

       
}

.sidebar__elements {
      flex: 0.1;
      height: 100vh;
       background-color: var(--sidebar);
}
