:root {
  --sidebar: #2b2b2b;
  --sidebar_color: #d3d3d3;
  --main-color: #fff;
  --recent: #008837;
  --editor: #202124;
  --tags-section: #d3d3d3;
  --notes: #353535;
  --hover :  #767676;
}

.sidebar__container {
  display: flex;
}

.sidebar__elements {
  padding: 0.4rem;
  flex: 0.1;
  height:auto;
  background-color: var(--notes);

}

.sidebar__items {
  color: var(--sidebar_color);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 0.3rem;
}

.sidebar__items:hover {
  background-color: var(--hover);
  border-radius: 0.5rem;
}



.sidebar__items > div {
  font-size: 0.8rem;
  margin-left: 1rem;
}

.sidebar__items > i {
  font-size: 0.8rem;
}

