


:root {
    --sidebar: #2b2b2b;
    --sidebar_color: #d3d3d3;
    --main-color: #fff;
    --recent: #008837;
    --editor: #202124;
    --tags-section: #d3d3d3;
    --notes: #353535;
    --hover :  #767676;
  }

/* 
.notes__header {
         position: relative;
} */

.notes__header ul{

    padding: 0.5rem; 
    display:flex;
    align-items: center;
    
    

  
    
}


.notes__header ul li {
        list-style: none;
        justify-content: space-between;
        /* margin-right: 2rem; */
    
}

.fas , .fa-search {

      color: var(--main-color);
      font-size: 0.7rem;

}

.fa-plus-circle {

        /* background-color: var(--recent); */
        color: var(--recent);
        font-size: 0.9rem;
}

.notes__heading {
      color: var(--main-color);
      font-size: 1rem;
}

.search {
       margin-left : 7rem;
       cursor: pointer;

}

.add {
       margin-left: 3rem;
       cursor: pointer;
}

